{% extends 'base.html' %}
<h3>Add a label</h3>
{% block content %}
<div>
    <p>
        <a class='button' href="#merchant-form">Add New Merchant</a>
    </p>
</div>
<div class="overlay" id="merchant-form">
  <div class="popup">
    <form action="/labels/new/merchant" class="form-container" method="post">
      <h3>New Merchant</h3>

      <label for="merchant">Name:</label>
      <input
        type="text"
        placeholder="Enter Merchant"
        name="merchant_name"
        id="merchant"
      />

      <button type="submit" class="submit-btn">Submit</button>
      <a href="#"><button type="submit" class="cancel-btn">Cancel</button></a>
    </form>
  </div>
</div>

{% endblock content %}
