{% extends 'base.html' %} {% block content %}
<main class="expense-container">
  <h2 class="header-text">Tags</h2>
  <a class="button-container" href="#tag-form">
    <button type="submit" class="expense-btn">Create Tag</button>
  </a>

  <table class="table table-container" style="width: 100%">
    <tr class="table-labelbox">
      <th>Tag name</th>
      <th></th>
    </tr>
    {% for tag in tags %}
    <tr>
      <td>{{tag.name}}</td>
      <td>
        <form action="/tags/{{ tag.id }}/delete" method="POST">
          <input class="delete-btn" type="submit" value="delete" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</main>

<!-- ###–––NEW TAG POPUP---### -->
<div class="overlay" id="tag-form">
  <div class="popup">
    <form action="/tags/new" class="form-container" method="post">
      <h3>Create new tag</h3>

      <label class="form-name" for="tag_name">Tag name:</label>
      <input
        type="text"
        placeholder="Enter new tag"
        name="tag_name"
        id="tag_name"
      />
      <button type="submit" class="submit-btn">Submit</button>
      <a class="close" href="#">&times;</a>
    </form>
  </div>
</div>

{% endblock content%}
