.base-body {
  margin: 0px;
  font-family: "Readex Pro", sans-serif;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #073b4c;
  position: relative;
}

.nav-title {
  display: inline;
  font-size: 30px;
  color: #ffd166;
  padding: 10px 10px 10px 10px;
}

.nav-links {
  display: inline;
  float: right;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
}
.nav-links a {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  color: #ffd166;
}
a:hover {
  background-color: #118ab2;
}
