body {
  background: white;
  color: black;
  font-family: "Fredoka One", cursive;
  font-family: "Readex Pro", sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.popup {
  margin: 250px auto;
  padding: 20px;
  background: white;
  border: 1px solid #666;
  border-radius: 20px;
  width: 350px;
  height: 350px;
  box-shadow: 38px 38px 56px #1e1e1e, -25px -25px 38px #1e1e1e;
  position: relative;
  text-align: center;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.new-expense-btn {
  border-radius: 55px;
  border: 2px #1e1e1e;
  color: #1e1e1e;
  text-align: center;
  background-color: transparent;
  width: 50%;
}

.card {
  background-color: bisque;
  height: 100px;
  width: 100px;
}
.card-expenses {
  grid-area: row2;
}
.card-income {
  grid-area: row3;
}
.card-monthly {
  grid-area: row4;
}
.card-weekly {
  grid-area: row5;
}
.card-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20% 20%;
  grid-template-rows: auto;
  grid-template-areas:
    " row1 row2 row3 row4 row5 "
    " row6 row6 row8 row9 row10 ";
}
