/* ###-----SEPERATE OUT CSS-----#### */

body {
  font-family: "Fredoka One", cursive;
}

.card h3 {
  text-align: center;
}
.card p {
  margin-top: 35px;
  text-align: center;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}
.card {
  border-radius: 10px;
  background-color: #ced4da;
  height: 150px;
  width: 350px;
}

.header-text {
  grid-area: header;
  font-weight: 700;
  margin-top: 35px;
}

.card-expenses {
  grid-area: row13;
}

.expense-container {
  display: grid;
  grid-template-columns: 20%, 20%, 20%, 20%, 20%;
  grid-template-rows: minmax(100px, 1fr);
  grid-template-areas:
    "row1   header header   header  row5"
    "row6   button  button  button row10"
    "row11  row12  row13    row14  row15"
    "row16  table  table    table  row7";
  justify-items: center;
}
.table-container {
  margin-top: 50px;
  grid-area: table;
}

.table tr td {
  border-bottom: #495057 15px;
  text-align: center;
}

.table {
  border-collapse: collapse;
  padding: 10px;
}

td,
th {
  border: 1px solid #495057;
}

tr:nth-child(even) {
  background-color: #ced4da;
}
.table-name {
  font-size: large;
}
