body {
  background: white;
  color: black;
  font-family: "Fredoka One", cursive;
  font-family: "Readex Pro", sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.popup {
  margin: 250px auto;
  padding: 20px;
  background: white;
  border: 1px solid #666;
  border-radius: 20px;
  width: 350px;
  height: 350px;
  box-shadow: 38px 38px 56px #1e1e1e, -25px -25px 38px #1e1e1e;
  position: relative;
  text-align: center;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.form-container {
  display: grid | inline-grid;
}