<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Expense Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/popups.css')}}"
    />
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/tags">Tags</a>
          </li>
          <li>
            <a href="/merchants">merchants</a>
          </li>
          <li>
            <a href="/transactions">Transactions</a>
          </li>
        </ul>
      </nav>

      <section>{% block content %} {% endblock %}</section>
    </main>
  </body>
</html>
