<!DOCTYPE html>
<html class="base-html">
  <head class="base-head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Expense Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Readex+Pro:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/navbar.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/overview.css')}}"
    />
  </head>
  <body class="base-body">
    <main class="base-main">
      <nav class="nav">
        <div class="nav-title">Crying Capital</div>
        <div class="nav-links">
          <a href="/transactions">Overview</a>
          <a href="/merchants">Edit Merchants</a>
          <a href="/tags">Edit Tags</a>
        </div>
      </nav>

      <section class="block-content">
        {% block content %} {% endblock %}
      </section>
    </main>
  </body>
</html>
