{% extends 'base.html' %} {% block content %}
<h1>Merchants</h1>
<div>
    <p>
      <a href="#merchant-form"
        ><button type="submit" class="create-new-btn">
          Create new merchant
        </button></a
      >
    </p>
  </div>
  <div class="overlay" id="merchant-form">
    <div class="popup">
      <form action="/merchants/new" class="form-container" method="post">
        <h3>New Merchant</h3>
  
        <label for="merchant">Name:</label>
        <input
          type="text"
          placeholder="Enter Merchant"
          name="merchant_name"
          id="merchant"
        />
  
        <button type="submit" class="submit-btn">Submit</button>
        <a href="#"><button type="submit" class="cancel-btn">Cancel</button></a>
      </form>
    </div>
  </div>

{% for merchant in merchants %}
<li>Merchant:{{merchant.name}}</li>

{% endfor %} {% endblock content %}
