{% extends 'base.html' %} {% block content %}
<main class="expense-container">
  <h2 class="header-text">Merchants</h2>
  <a class="button-container" href="#merchant-form">
    <button type="submit" class="expense-btn">Create Merchant</button>
  </a>

  <table class="table table-container" style="width: 100%">
    <tr class="table-labelbox">
      <th class="table-name">Merchant name</th>
      <th></th>
    </tr>
    {% for merchant in merchants %}
    <tr>
      <td>{{merchant.name}}</td>
      <td>
        <form action="/merchants/{{ merchant.id }}/delete" method="POST">
          <input class="delete-btn" type="submit" value="delete" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</main>

<!-- ###–––NEW merchant POPUP---### -->
<div class="overlay" id="merchant-form">
  <div class="popup">
    <form action="/merchants/new" class="form-container" method="post">
      <h3>Create new merchant</h3>

      <label class="form-name" for="merchant_name">merchant name:</label>
      <input
        type="text"
        placeholder="Enter new merchant"
        name="merchant_name"
        id="merchant_name"
      />
      <button type="submit" class="submit-btn">Submit</button>
      <a class="close" href="#">&times;</a>
    </form>
  </div>
</div>

{% endblock content%}
