{% extends 'base.html' %} {% block content%}

<main class="expense-container">
  <h2 class="header-text">Overview</h2>
  <a class="button-container" href="#transaction-form">
    <button type="submit" class="expense-btn">Add Expense</button>
  </a>

  <div class="card card-expenses">
    <h3>Expenses</h3>
    <p>£ {{total}}</p>
  </div>

  <table class="table table-container" style="width: 100%">
    <tr class="table-labelbox">
      <th>Amount</th>
      <th>Date</th>
      <th>Description</th>
      <th>Merchant</th>
      <th>Tag</th>
      <th></th>
    </tr>
    {% for transaction in transactions %}
    <tr>
      <td>£ {{transaction.amount}}</td>
      <td>{{ transaction.date }}</td>
      <td>{{transaction.description}}</td>
      <td>{{transaction.merchant.name}}</td>
      <td>{{transaction.tag.name}}</td>
      <td>
        <form action="/transactions/{{ transaction.id }}/delete" method="POST">
          <input class="delete-btn" type="submit" value="delete" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</main>

<!-- ###–––NEW TRANSACTION POPUP---### -->
<div class="overlay" id="transaction-form">
  <div class="popup">
    <form action="/transactions/new" class="form-container" method="post">
      <h3>Expenses</h3>

      <label class="form-amount" for="amount">Amount:</label>
      <input
        type="text"
        placeholder="Enter transaction"
        name="amount"
        id="amount"
      />

      <label class="form-date" for="date">Date:</label>
      <input type="date" placeholder="Enter Date" name="date" id="date" />

      <label for="description">Description:</label>
      <input
        type="text"
        placeholder="Enter description"
        name="description"
        id="description"
      />
      <label for="merchant">Merchant:</label>
      <select name="merchant_id" id="merchant">
        {% for merchant in merchants %}
        <option value="{{merchant.id}}">{{merchant.name}}</option>
        {% endfor %}
      </select>
      <label for="tag">Tag:</label>
      <select name="tag_id" id="tag">
        {% for tag in tags %}
        <option value="{{tag.id}}">{{tag.name}}</option>
        {% endfor %}
      </select>
      <button type="submit" class="submit-btn">Submit</button>
      <a class="close" href="#">&times;</a>
    </form>
  </div>
</div>

{% endblock content%}
