{% extends 'base.html' %} {% block content%}
<main class="expense-container">
  <h3>Overview</h3>
  <a href="#transaction-form">
    <button type="submit" class="new-expense-btn">
      Create new transaction
    </button></a
  >
  <div class="card-container">
    <div class="card card-expenses">
      <h3>Expenses</h3>
    </div>
    <div class="card card-income">
      <h3>Income</h3>
    </div>
    <div class="card card-monthly">
      <h3>Monthly</h3>
    </div>
    <div class="card card-weekly">
      <h3>Weekly</h3>
    </div>
  </div>
</main>

{% endblock content%}
